@use'__commons' as c;

@media (min-width: 260px) {
    #colaboraciones-1 {
        display: grid;
        grid-template-areas: colaboraciones;
        width: 90%;
        margin-bottom: 4rem;


        h2 {
            text-align: center;
            font-size: 1.5rem;
            color: c.$titulos-color;
        }

        #colaboraciones {
            max-width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            figure {
                width: 150px;
                margin: 1rem;
                box-shadow: 0px 1px 10px c.$border-color;

                img {
                    width: 100%;
                }

                figcaption {
                    text-align: center;
                    padding: 0.4rem;
                    background: #fff;
                    color: c.$titulos-color;
                }

                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
}