$fondo-color: rgb(245, 228, 237);
$border-color: rgb(246, 107, 186);
$titulos-color: rgb(244, 43, 157);

:root {
    --opacity-modal-color: rgba(34, 34, 34, 0.70);
    --opacity-sub-modal-color: rgb(242, 247, 247, 0.80);
}

html {
    scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}


img {
    width: 100px;
}

#contenedor {
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
    background: $fondo-color ;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:


        "header"
        "s-sobre-mi"
        "experiencia"
        "habilidades"
        "ugc-p"
        "t-v-ugc"
        "servicios-ofrecidos"
        "redes-contacto"
    ;
}


section {

    margin: 3rem auto;
    border-bottom: solid 1rem $border-color;
    box-sizing: border-box;
    overflow-x: hidden;
}

.p-osc {
    width: 100%;
    height: 200vh;
    margin-top: 0;
    position: fixed;
    background: black;
    opacity: 0.6;
    display: none;
}