$fondo-color: rgb(245, 228, 237);
$border-color: rgb(246, 107, 186);

* {

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}


img {
    width: 100px;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
    background: $fondo-color ;
}


section {

    margin: 3rem auto;
    border-bottom: solid 1rem $border-color;
    box-sizing: border-box;
    overflow-x: hidden;
}

.p-osc {
    width: 100%;
    height: 200vh;
    margin-top: 0;
    position: fixed;
    background: black;
    opacity: 0.6;
    display: none;
}

.sc {
    display: flex;
    flex-direction: column-reverse;
    height: 90vh;
    width: 100%;
    margin-top: 2rem;
    position: absolute;
    z-index: 200;
    border-bottom: none;


    .art-sociales {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: fixed;
        transform: translate(0%, 50%);
        width: 100%;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 2px $border-color;


        .btn-menu {
            width: 8%;
            margin: 0.5rem;
            font-size: 1.5rem;

        }

        .redes-s {
            .sociales {

                width: 32px;
                margin: 0.5rem;
            }
        }

        .btn-wapp {
            width: 10%;
            margin: 0.5rem;
            font-size: 2rem;
            bottom: 30px;
            right: 30px;
            background: #0df053;
            color: #fff;
            border-radius: 40px;
            text-align: center;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        }
    }
}