@use'__commons' as c;

@media (min-width: 260px) {

    .mis-habilidades {
        width: 90%;

        .titulo-habilidades {
            text-align: center;
            margin-bottom: 1rem;
        }

        .list-habilidades {

            display: flex;
            flex-direction: row;
            justify-content: space-between;


            .lis-habilidades {

                line-height: 2rem;
                list-style-type: armenian;

            }
        }

        .img-habilidades {
            width: 60%;
            margin: 2rem 20% 4rem 20%;

        }
    }
}