@use'__commons' as c;

@media (min-width: 260px) {

    #habilidades {
        display: grid;
        grid-template-areas: habilidades;
        width: 90%;
        margin-top: -2rem;

        .titulo-habilidades {
            font-size: 2rem;
            color: c.$titulos-color;
            font-weight: 600;
            text-align: center;
            margin: 1rem;
        }

        .list-habilidades {

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;


            .lis-habilidades {

                line-height: 2rem;

                .lista-habilidades {
                    list-style-type: disc;
                }

            }
        }

        .img-habilidades {
            width: 250px;
            margin: 2rem auto;

            border: solid 4px c.$border-color;
            border-radius: 5px;

        }
    }
}

@media (min-width: 700px) {
    #habilidades {
        display: grid;
        grid-template-areas: habilidades;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .bloq-h {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }

        .img-habilidades {
            width: 350px;
        }
    }
}