@use'__commons' as c;

@media (min-width: 260px) {
    #header {
        max-width: 80%;
        margin: auto auto;
        padding-top: 2rem;
        border-bottom: solid 1rem c.$border-color;
        box-sizing: border-box;
        overflow-x: hidden;

        .logo-content {
            width: 100%;
            text-align: center;

            .img-logo {
                width: 170px;
                height: 210px;
                border-radius: 50%;
                border: solid 0.5rem c.$border-color;

            }
        }


        .header-3 {
            width: 100%;

            .name-title {
                font-size: 2rem;
                text-align: center;
                margin-bottom: 1rem;
            }

            .phrase-p,
            .phrase-p-2 {
                text-align: center;

            }

            .menu {
                .menu-2 {
                    display: none;
                    flex-direction: column;
                    width: 80%;
                    text-align: center;
                    margin: -11rem auto 0 auto;
                    position: fixed;
                    background: #fff;
                    z-index: 200;

                    .componentes-menu {

                        margin: 1rem;


                        &:hover {
                            scale: 1.3;
                            box-shadow: 0 0 8px c.$border-color;
                        }

                        a {
                            color: #000;


                        }

                        .submenu {
                            display: none;
                        }
                    }
                }
            }

            .art-sociales {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: end;
                position: fixed;
                width: 95%;
                box-sizing: border-box;
                gap: 1rem;
                margin: 11.5rem 0 0 -1.7rem;
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 0 2px c.$border-color;
                z-index: 200;

                .btn-menu {
                    width: 8%;
                    margin: 0.5rem;
                    font-size: 1.5rem;

                }

                .redes-s {
                    .sociales {

                        width: 32px;
                        margin: 0.5rem;
                    }
                }

                .btn-wapp {
                    width: 10%;
                    margin: 0.5rem;
                    font-size: 2rem;
                    bottom: 30px;
                    right: 30px;
                    background: #0df053;
                    color: #fff;
                    border-radius: 40px;
                    text-align: center;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
                }
            }
        }

    }
}



/*
.header-2 {
    display: flex;
    justify-content: space-around;

    .img-logo {
        margin-top: 1.5rem;
        width: 480px;
        height: 665px;
        border: solid 1rem rgb(251, 72, 171);
        border-radius: 300px;
        z-index: 100;
    }

    .header-3 {
        width: 50%;
        margin-top: 8rem;
        text-align: center;


        .name-title {
            font-size: 6rem;
            margin: 1.5rem;
            color: rgb(251, 72, 171);
        }

        .phrase-p {
            font-size: 2rem;
            color: rgb(251, 72, 171);
        }

        .phrase-p-2 {
            font-size: 1rem;
            color: rgb(251, 72, 171);
        }

        .div {
            height: 40px;
            width: 135%;
            margin-left: -13.5rem;
            margin-top: 2rem;
            background: rgb(251, 72, 171);

        }

    }

    .menu {
        display: flex;
        width: 100%;

        .menu-2 {
            display: flex;
            flex-direction: row;
            margin-top: 1.5rem;
            list-style: none;

            a {
                width: 100%;
                margin-left: 1rem;
                list-style: none;
                text-decoration: none;
                font-size: 1.2rem;
                color: rgb(251, 72, 171);


            }
        }
    }

    .componentes-menu-sub {
        &:hover {

            .submenu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                position: absolute;
                margin-top: 0;
                background-color: #fff;
                list-style: none;

                .sub-li-con-e {
                    margin: 0.3rem;
                }
            }
        }
    }

    .submenu {
        display: none;
    }



    .sociales {
        .redes {
            width: 30px;
            margin: 1rem;

            &:hover {
                scale: 1.2;
            }
        }
    }

}
*/