@use'__commons' as c;

@media (min-width: 260px) {

    #servicios-ofrecidos {
        display: grid;
        grid-template-areas: servicios;
        display: flex;
        width: 90%;

        .tabla-servicios-e {
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 4rem;


            .titulo-servicios {
                text-align: center;
                margin: 1rem;


            }

            .tbody {

                .tabla-th {
                    text-align: center;
                    margin: 4px;
                    border: solid 2px c.$border-color;
                }
            }
        }


    }



}