@use'__commons' as c;

@media (min-width: 260px) {

    .tabla-servicios {
        display: flex;
        width: 90%;

        .titulo-servicios {
            text-align: center;
            margin: 1rem;


        }

        tbody {

            margin-bottom: 2rem;

            .tabla-th {
                text-align: center;
                margin: 4px;
                border: solid 2px c.$border-color;
            }
        }
    }
}