@use'__commons' as c;

@media (min-width: 260px) {
    #t-v-ugc {
        display: grid;
        grid-template-areas: tvugc;
    }

    .t-v-ugc-e {
        width: 90%;

        .t-v-e {
            margin-bottom: 4rem;

            .titulo-video-e {
                text-align: center;
                color: c.$titulos-color;
            }

            .video1-e {
                display: flex;
                margin: auto auto;
                width: 80%;


                .tiktok-embed {
                    width: 300px;
                    height: 500px;
                    z-index: 100;
                }
            }

            .p-v {
                width: 85%;
                margin: -1rem auto 1rem auto;
                font-size: 1.5rem;
                border-radius: 5px;
                border: solid 0.4rem c.$border-color;
                background: rgb(241, 85, 173);
                color: #fff;
                text-align: center;
            }
        }

    }
}

@media (min-width: 700px) {
    #t-v-ugc {
        display: grid;
        grid-template-areas: tvugc;
    }

    .t-v-ugc-e {

        .t-v-e {

            .video-e {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            }


        }

    }

}

@media (min-width: 1000px) {
    #t-v-ugc {
        display: grid;
        grid-template-areas: tvugc;
    }

    .t-v-ugc-e {

        .t-v-e {

            .video-e {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            }


        }

    }

}