@use'__commons' as c;

@media (min-width: 260px) {

    .t-v-ugc-e {
        width: 90%;

        .t-v-e {


            .titulo-video-e {
                text-align: center;
            }

            .video1-e {
                display: flex;
                margin: auto auto;
                width: 80%;


                .tiktok-embed {
                    width: 300px;
                    height: 500px;
                    z-index: 100;
                }
            }

            .p-v {
                width: 85%;
                margin: -1rem auto 1rem auto;
                font-size: 1.5rem;
                border-radius: 5px;
                border: solid 0.4rem c.$border-color;
                background: rgb(241, 85, 173);
                color: #fff;
                text-align: center;
            }
        }

    }
}