:root {
  --opacity-modal-color: rgba(34, 34, 34, 0.70);
  --opacity-sub-modal-color: rgb(242, 247, 247, 0.80);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

img {
  width: 100px;
}

#contenedor {
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
  background: rgb(245, 228, 237);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header" "s-sobre-mi" "experiencia" "habilidades" "ugc-p" "t-v-ugc" "colaboraciones-1" "redes-contacto";
}

section {
  margin: 3rem auto;
  border-bottom: solid 1rem rgb(246, 107, 186);
  box-sizing: border-box;
  overflow-x: hidden;
}

.p-osc {
  width: 100%;
  height: 200vh;
  margin-top: 0;
  position: fixed;
  background: black;
  opacity: 0.6;
  display: none;
}

@media (min-width: 260px) {
  .art-sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: -43px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    border-bottom: none;
    box-shadow: 0 0 15px rgb(246, 107, 186);
    z-index: 220;
  }
  .art-sociales .btn-menu {
    width: 40px;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 5px;
  }
  .art-sociales .redes-s .sociales {
    width: 32px;
    margin: 0.5rem;
  }
  .art-sociales .btn-wapp {
    width: 40px;
    margin: 0.5rem;
    font-size: 2rem;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  }
  #header {
    display: grid;
    grid-template-areas: header;
    width: 90%;
    margin: auto auto;
    padding-top: 2rem;
    border-bottom: solid 1rem rgb(246, 107, 186);
    box-sizing: border-box;
    overflow-x: hidden;
  }
  #header .logo-content {
    width: 100%;
    text-align: center;
  }
  #header .logo-content .img-logo {
    width: 170px;
    height: 210px;
    border-radius: 50%;
    border: solid 0.5rem rgb(246, 107, 186);
  }
  #header .header-3 {
    color: rgb(244, 43, 157);
  }
  #header .header-3 .name-title {
    font-size: 4rem;
  }
  #header .menu {
    display: none;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: var(--opacity-modal-color);
    z-index: 200;
    transition: transform 0.4s ease;
    transform: translate(0, 300%);
  }
  #header .menu .menu-2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-align: center;
    opacity: 0.9;
  }
  #header .menu .menu-2 .componentes-menu,
  #header .menu .menu-2 .componentes {
    margin: 1rem;
  }
  #header .menu .menu-2 .componentes-menu:hover,
  #header .menu .menu-2 .componentes:hover {
    scale: 1.3;
    box-shadow: 0 0 8px rgb(246, 107, 186);
    border-radius: 5px;
  }
  #header .menu .menu-2 .componentes-menu a,
  #header .menu .menu-2 .componentes a {
    color: #fff;
    font-size: 1.5rem;
  }
  #header .menu .menu-2 .componentes-menu .submenu,
  #header .menu .menu-2 .componentes .submenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    right: 0;
    position: fixed;
    background: var(--opacity-sub-modal-color);
    box-shadow: 0 0 15px rgb(246, 107, 186);
    border-radius: 10px;
    z-index: 205;
    transition: transform 0.3s ease;
    transform: translate(0, 300%);
  }
  #header .menu .menu-2 .componentes-menu .submenu .sub-li-con-e,
  #header .menu .menu-2 .componentes .submenu .sub-li-con-e {
    margin: 0.5rem;
  }
  #header .menu .menu-2 .componentes-menu .submenu .sub-li-con-e a,
  #header .menu .menu-2 .componentes .submenu .sub-li-con-e a {
    font-size: 1.2rem;
    color: #000;
  }
  #header .menu .menu-2 .componentes-menu .active,
  #header .menu .menu-2 .componentes .active {
    transform: translate(0, 8%);
  }
  #header .is-active {
    transform: translate(0, 0);
  }
  #header .header-3 {
    width: 100%;
  }
  #header .header-3 .name-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  #header .header-3 .phrase-p,
  #header .header-3 .phrase-p-2 {
    text-align: center;
  }
}
@media (min-width: 389px) {
  #header {
    display: grid;
    grid-template-areas: header;
  }
  #header .menu .menu-2 .componentes-menu,
  #header .menu .menu-2 .componentes {
    margin: 2rem;
  }
  #header .menu .menu-2 .componentes-menu .submenu,
  #header .menu .menu-2 .componentes .submenu {
    transition: transform 0.3s ease;
    transform: translate(0, 650%);
  }
  #header .menu .menu-2 .componentes-menu .active,
  #header .menu .menu-2 .componentes .active {
    transform: translate(0, 8%);
  }
}
@media (min-width: 700px) {
  #header {
    display: grid;
    grid-template-areas: header;
  }
  #header .header-2 {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #header .header-2 .logo-content .img-logo {
    width: 170px;
    height: 210px;
    border-radius: 50%;
    border: solid 0.5rem rgb(246, 107, 186);
    margin: 2rem;
  }
  #header .header-2 .header-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #header .header-2 .header-3 .name-title {
    width: 100%;
    font-size: 2rem;
  }
}
@media (min-width: 970px) {
  #header {
    display: grid;
    grid-template-areas: header;
  }
  #header .header-2 .logo-content .img-logo {
    width: 270px;
    height: 310px;
    border-radius: 50%;
    border: solid 0.5rem rgb(246, 107, 186);
    margin: 2rem;
  }
  #header .header-2 .header-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  #header .header-2 .header-3 .name-title {
    width: 100%;
    font-size: 3rem;
  }
}
@media (min-width: 260px) {
  #t-v-ugc {
    display: grid;
    grid-template-areas: tvugc;
  }
  .t-v-ugc-e {
    width: 90%;
  }
  .t-v-ugc-e .t-v-e {
    margin-bottom: 4rem;
  }
  .t-v-ugc-e .t-v-e .titulo-video-e {
    text-align: center;
    color: rgb(244, 43, 157);
  }
  .t-v-ugc-e .t-v-e .video1-e {
    display: flex;
    margin: auto auto;
    width: 80%;
  }
  .t-v-ugc-e .t-v-e .video1-e .tiktok-embed {
    width: 300px;
    height: 500px;
    z-index: 100;
  }
  .t-v-ugc-e .t-v-e .p-v {
    width: 85%;
    margin: -1rem auto 1rem auto;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid 0.4rem rgb(246, 107, 186);
    background: rgb(241, 85, 173);
    color: #fff;
    text-align: center;
  }
}
@media (min-width: 700px) {
  #t-v-ugc {
    display: grid;
    grid-template-areas: tvugc;
  }
  .t-v-ugc-e .t-v-e .video-e {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
@media (min-width: 1000px) {
  #t-v-ugc {
    display: grid;
    grid-template-areas: tvugc;
  }
  .t-v-ugc-e .t-v-e .video-e {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (min-width: 260px) {
  .seccion-sobre-mi {
    width: 90%;
  }
  .seccion-sobre-mi .sobre-mi {
    margin-bottom: 4rem;
    text-align: center;
  }
  .seccion-sobre-mi .sobre-mi .titulo-sm {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(244, 43, 157);
  }
  .seccion-sobre-mi .sobre-mi .parrafo-sobre-mi {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}
@media (min-width: 260px) {
  #experiencia {
    display: grid;
    grid-template-areas: experiencia;
  }
  .seccion-experiencia {
    width: 90%;
  }
  .seccion-experiencia .experiencia-e {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 {
    width: 100%;
    text-align: center;
    background: rgb(246, 107, 186);
    margin-bottom: 10%;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 .titulo-experiencia {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 2rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 .experiencia-imagen {
    width: 250px;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.5rem #fff;
    border-radius: 10px;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 {
    width: 100%;
    padding: 2rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 .st-exp {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 .p-experiencia {
    margin-bottom: 4rem;
    text-align: justify;
  }
}
@media (min-width: 800px) {
  #experiencia {
    display: grid;
    grid-template-areas: experiencia;
  }
  .seccion-experiencia .experiencia-e {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 {
    width: 60%;
    text-align: center;
    background: rgb(246, 107, 186);
    margin-bottom: 100px;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 .titulo-experiencia {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 2rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 .experiencia-imagen {
    width: 300px;
    margin-top: 20%;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 {
    width: 40%;
  }
}
@media (min-width: 1100px) {
  #experiencia {
    display: grid;
    grid-template-areas: experiencia;
  }
  .seccion-experiencia .experiencia-e {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    gap: 1rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 {
    width: 50%;
    text-align: center;
    background: rgb(246, 107, 186);
    margin-bottom: 100px;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 .titulo-experiencia {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    padding: 2rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-1 .experiencia-imagen {
    max-width: 300px;
    margin-top: 5%;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 {
    width: 50%;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 .st-exp {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }
  .seccion-experiencia .experiencia-e .experiencia-2 .p-experiencia {
    margin-bottom: 1rem;
    text-align: justify;
  }
}
@media (min-width: 260px) {
  #habilidades {
    display: grid;
    grid-template-areas: habilidades;
    width: 90%;
    margin-top: -2rem;
  }
  #habilidades .titulo-habilidades {
    font-size: 2rem;
    color: rgb(244, 43, 157);
    font-weight: 600;
    text-align: center;
    margin: 1rem;
  }
  #habilidades .list-habilidades {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #habilidades .list-habilidades .lis-habilidades {
    line-height: 2rem;
  }
  #habilidades .list-habilidades .lis-habilidades .lista-habilidades {
    list-style-type: disc;
  }
  #habilidades .img-habilidades {
    width: 250px;
    margin: 2rem auto;
    border: solid 4px rgb(246, 107, 186);
    border-radius: 5px;
  }
}
@media (min-width: 700px) {
  #habilidades {
    display: grid;
    grid-template-areas: habilidades;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #habilidades .bloq-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  #habilidades .img-habilidades {
    width: 350px;
  }
}
@media (min-width: 260px) {
  .redes-t {
    margin-top: -2rem;
    width: 90%;
  }
  .redes-t .titulo-redes {
    text-align: center;
    margin: 1rem;
  }
  .redes-t .sub-seccion-redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .redes-t .sub-seccion-redes .img-redes-art {
    width: 35%;
    margin: 1rem;
  }
  .redes-t .sub-seccion-redes .img-redes-art .img-mis-redes {
    width: 100%;
    border-radius: 10px;
  }
  .redes-t .sub-seccion-redes .redes-final {
    width: 35%;
  }
  .redes-t .sub-seccion-redes .redes-final .redes-footer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
  .redes-t .sub-seccion-redes .redes-final .redes-footer .sociales {
    width: 35px;
    margin: 0.5rem;
    cursor: pointer;
  }
  .redes-t .sub-seccion-redes .redes-final .redes-footer .sociales:hover {
    scale: 1.4;
  }
  .redes-t .sub-seccion-redes .redes-final .redes-footer p {
    padding-top: 10px;
  }
}
@media (min-width: 260px) {
  #ugc-p {
    display: grid;
    grid-template-areas: ugc;
    width: 90%;
  }
  #ugc-p .art-ugc-e-1 {
    background: rgb(244, 43, 157);
    color: #fff;
    padding: 1rem;
  }
  #ugc-p .art-ugc-e-2 {
    background: #fff;
    margin-bottom: 4rem;
    padding: 1rem;
  }
  #ugc-p .t-p-ugc-e {
    text-align: center;
    font-size: 2rem;
    color: rgb(244, 43, 157);
    margin-bottom: 1rem;
  }
  #ugc-p .ugc-qs-e-2 {
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(244, 43, 157);
  }
  #ugc-p .ugc-qs-e-1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  #ugc-p .ugc-e-1p {
    text-align: justify;
    margin-bottom: 1rem;
  }
}
@media (min-width: 655px) {
  #ugc-p {
    display: grid;
    grid-template-areas: ugc;
    width: 90%;
  }
  #ugc-p .art-ugc-e {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 1rem auto;
  }
  #ugc-p .art-ugc-e .art-ugc-e-1 {
    width: 50%;
    height: 55.5vh;
  }
  #ugc-p .art-ugc-e .art-ugc-e-2 {
    width: 50%;
    height: 55.5vh;
  }
}
@media (min-width: 260px) {
  #colaboraciones-1 {
    display: grid;
    grid-template-areas: colaboraciones;
    width: 90%;
    margin-bottom: 4rem;
  }
  #colaboraciones-1 h2 {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(244, 43, 157);
  }
  #colaboraciones-1 #colaboraciones {
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  #colaboraciones-1 #colaboraciones figure {
    width: 150px;
    margin: 1rem;
    box-shadow: 0px 1px 10px rgb(246, 107, 186);
  }
  #colaboraciones-1 #colaboraciones figure img {
    width: 100%;
  }
  #colaboraciones-1 #colaboraciones figure figcaption {
    text-align: center;
    padding: 0.4rem;
    background: #fff;
    color: rgb(244, 43, 157);
  }
  #colaboraciones-1 #colaboraciones figure:hover {
    scale: 1.1;
  }
}/*# sourceMappingURL=style.css.map */